{% extends 'base.html' %}
{% block content %}
<h3>Hello! We are Spider Keepers!</h3>
<p>Funny, tyny application which suppose to discover all beauty of tarantulas</p>
<img class='aboutImg' src="https://i.imgur.com/waYRLwH.jpg" alt="aboutImg">
<h3>Spider Keeper's goals:</h3>
<img class='aboutImg' src="https://i.imgur.com/pF3Jfei.jpg" alt="aboutImg">
<ul>
  <li>* To connect people and spiders</li>
  <li>* To track the health of your tarantulas</li>
  <li>* To know more about spiders</li>
  <li>* To get fun (especially, when spiders escape from terrarium :D)</li>
</ul>
<img class='aboutImg' src="https://i.imgur.com/eJj0iWn.jpg" alt="aboutImg">
<h4>Enjoy!</h4>
<li>p.s. do not try to sell your house in case of spiders escape</li>
{% endblock %}